<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <%= image_tag slide_first_or_default_preview_url(slide), class: 'img-rounded' %>
    <div class="caption text-center">
      <h3><%= link_to slide.truncated_title, slide, data: { 'no-turbolink' => true }, title: slide.title %></h3>
      <p>
        <small>
          <%= link_to slide.user.try(:name), slide.user %>
          发表于<%= l slide.created_at.to_date, format: :long %>
        </small>
      </p>
    </div>
  </div>
</div>
