<ul class="categories-list">
  <li><a href="">所有讲稿</a></li>
  <li><a href="">热门讲稿</a></li>
  <% Category.all.each do |category| %>
    <li><%= link_to category.name, category %></li>
  <% end %>
</ul>
