<header>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">讲稿网
          <small class='navbar-brand-desc'>让讲稿飞</small>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-upload"></span>上传</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-th"></span>浏览</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span>Martin
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">个人账号</li>
              <li><a href="#">个人首页</a></li>
              <li><a href="#">修改密码</a></li>

              <li class="divider"></li>
              <li class="active"><a href="#">注销</a></li>
            </ul>
          </li>
          <li>
            <form class="navbar-form navbar-right" role="search">
              <div class="form-search search-only">
                <i class="search-icon glyphicon glyphicon-search"></i>
                <input type="text" placeholder="搜索讲稿关键字" class="form-control search-query">
              </div>
            </form>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
